
.timeline_row {
  position: relative;
  padding: .75em 1em;

  border-radius: 1em;
  background-color: #f7f5f7;

  & strong {
    font-weight: 500;
  }
}

.timeline_date {
  padding: .35rem 0 0 1.5rem;

  color: #a2a2ad;
  font-size: 90%;
  line-height: 1;
}
