@import "../../../../css/vars.less";

.messages {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.messages_content {
  flex: 1;
  overflow-y: scroll;
}

.message {
  padding: 1rem;

  &:hover {
    background-color: #f7f5f7;
  }

  :global .ant-table-thead > tr > th {
    background: #fff;
    border-bottom: solid 1px @border-color-base;
  }

  .avatar {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background: #f8f8f8;
    display: inline-block;
  }

  .content {
    text-align: left;
    color: #757575;
  }

  .date {
    padding-top: 1em;

    color: #a3a3a3;
    font-size: 90%;
    line-height: 1;
  }

  .daterow {
    display: flex;
    justify-content: space-between;
  }

  .name {
    text-align: left;
  }

  .avatarcolumn {
    vertical-align: top;
  }
}

.message_title {
  color: #000;
  font-size: 95%;
}

.message_avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 1em;

  border-radius: 50%;
  background: #eee 50% 50% url('https://randomuser.me/api/portraits/women/43.jpg');
  background-size: cover;
}

.message_content {
  position: relative;
  flex: 1;

  line-height: 1.35;
}

.message_content :global p {
  white-space: pre-line;
}

.message_date {
  padding-top: 1em;

  color: #a3a3a3;
  font-size: 90%;
  line-height: 1;
}

.message_settings {
  position: absolute;
  top: .5em;
  right: 0;

  :global .anticon {
    padding: .5em;
    cursor: pointer;
  }
}
