.rowNegative,
.rowPositive {
  position: relative;
  padding: .5em 1em;

  background-color: #ffecec;
  border-bottom: 1px #f7cece solid;
}
.rowPositive {
  background-color: #eaffea;
  border-color: #bbe4bb;
}

.operationNegative,
.operationPositive {
  display: inline-block;
  width: 2em;

  color: #deacac;
  text-align: center;
}

.userNegative,
.userPositive {
  position: absolute;
  top: .75em;
  right: 1.5em;

  color: #e0b0b0;
  font-size: 85%;
}
.userPositive,
.operationPositive {
  color: #9bcc9b;
}
