.editable_cell {
  position: relative;
}

.editable_cell_input_wrapper,
.editable_cell_text_wrapper {
  position: relative;
  padding-right: 24px;
}

.editable_cell_icon,
.editable_cell_icon_check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable_cell_icon {
  display: none;
  line-height: 28px;
}

.editable_cell_icon_check {
  line-height: 36px;
}

.editable_cell:hover .editable_cell_icon {
  display: inline-block;
}

.editable_cell_icon:hover,
.editable_cell_icon_check:hover {
  color: #657ff7;
}

.editable_add_btn {
  margin-bottom: 8px;
}
