.form {
  width: 400px;
  margin: 1em;
  max-width: 100%;
  padding: 2.5em;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.03);
  background-color: #fff;
}

.form_button {
  width: 100%;
}

.logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
}
