@import "../../../css/vars.less";

.schema {
  margin: 0 auto;
  overflow: auto;
  background-color: #f7f5f7;
}

.schema_content {
  margin: 0 auto;
}

.schema_labels {
  padding-right: 1em;
}

.schema_steps {
  white-space: nowrap;
}

.schema_stepsDisabled {
  .schema_step {
    opacity: .3;
  }
  .schema_stepSelected {
    opacity: 1;
  }
}

.schema_step {
  display: inline-block;
  min-width: 130px;
  height: 85px;
  margin: .05em 0;

  color: #fff;
  text-align: center;
  white-space: nowrap;
  line-height: 84px;

  background-color: #e5e5e5;
  cursor: pointer;
  transition: @transition-ease-in;

  &:hover {
    opacity: 0.5;
  }
}

.schema_stepSelected,
.schema_stepSelected:hover {
  color: #333;
  text-shadow: 0 1px 35px #fff;
  font-weight: 700;

  box-shadow: inset 0 0 0 10px rgba(247, 247, 247, 0.9);
  opacity: 1;
}
