@import "../../../../../css/vars.less";

.headerSecond {
  z-index: -1;
  position: relative;
  text-align: center;

  background-color: #fcfbfe;
  border-bottom: 1px #e2e2ec solid;
  transition: @transition-ease-out;
}

.headerSecond_container {
  padding: 1em;

  :global h1 {
    position: relative;
    display: inline-block;
    top: .1em;

    font-size: 1.5em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    .text-overflow();
  }

  :global {
    .ant-menu-horizontal {
      position: relative;
      margin-bottom: -1em;

      background: transparent;
      border-bottom: 0;
      z-index: 10;

      .ant-menu-item,
      .ant-menu-submenu-title {
        position: relative;
        float: none;
        display: inline-block;
        padding: 0;
        margin: 0 15px;

        color: #a2a2ad;
        font-size: 95%;
        letter-spacing: 0.01em;
        text-transform: uppercase;

        &:hover {
          color: @primary-color;
        }
      }

      .ant-menu-item-selected {
        color: #657ff7;
        border-color: #657ff7;
      }

      .ant-menu-submenu {
        float: none;
        display: inline-block;
        margin: 0 15px;

        .ant-menu-submenu-title {
          margin: 0;
        }
      }
    }
  }
}