
.popover_content {
  line-height: 1.2;
}

.avatar {
  margin-right: .5em;
}

.title {
  color: #a5a5a5;
  font-size: 90%;
}

.iconDown {
  margin-left: .15em;

  color: #a5a5a5;
  font-size: 90%;
}

:global .is-pointer {
  cursor: pointer;
}