@import "../../../../css/vars.less";

.relationships {
  position: relative;

  & :global .ant-table-content {
    overflow: auto;

    & :global th {
      font-size: 90%;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-weight: 500;
    }
  }
}
