
.tree {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;

  :global {
    .ant-tree {
      position: relative;
      padding: 0 .5em;

      letter-spacing: 0.02em;
      word-spacing: 0.02em;
    }
    .ant-tree > li:last-child {
      padding-bottom: 2em;
    }
    .ui_tree_title .anticon {
      padding-right: 7px;
      color: #a5a5a5;
    }
  }

  .ui_tree_folder {
    &:global > a.ant-tree-node-selected {
      background: transparent;
    }
  }
}
/*.tree_content {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.25em;

    background-color: #fff;
    box-shadow: -10px 0 15px 0 #fff;
    overflow: hidden;
  }
}*/

.tree_search {
  flex-wrap: nowrap;
  padding: 1em;

  z-index: 1;
}

.btnFoldToggle {
  width: 44px;
  height: 42px;
  margin-left: 0.5em;

  text-align: center;
  line-height: 42px;

  background: white;
  border: 1px #e5e5e5 solid;
  border-radius: .4em;
  cursor: pointer;
  z-index: 1;
}