@import "../../../css/vars.less";

.header_menuButton {
  display: inline-block;
  height: 50px;
  padding: 0 16px;

  color: #fff;
  font-size: 18px;
  line-height: 50px;

  background-color: @sidebar-dark-bg;
  cursor: pointer;
  transition: @transition-ease-in;

  &:hover {
    background-color: @sidebar-dark-bg;
  }
}

.header_menuButton {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  margin-left: 230px;
  padding: 0 30px 0 .5em;

  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 95%;
  line-height: 50px;

  background-color: #657ff7;
  transition: @transition-ease-out;
  z-index: 100;

  :global {

    .ant-menu-horizontal {
      height: 50px;

      color: #f5f5f7;
      line-height: 48px;

      border-color: transparent;
    }
    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      float: none;
      display: inline-block;
      padding: 0 1.25em;

      color: #f5f5f7;

      border-color: transparent;

      &:hover,
      a:hover {
        color: #f5f5f7;
        border-color: #fff;
      }
    }
    .ant-menu-horizontal > .ant-menu-item-selected {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
    }
    .ant-menu-horizontal > .ant-menu-item:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      width: 1px;

      background-image: linear-gradient(to top, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .03) 100%);
    }
    .ant-menu-submenu-title:hover,
    .ant-menu-submenu:hover,
    .ant-menu-item a:hover {
      color: #f5f5f7;
    }

    .ant-dropdown-menu-item.is-multiline {
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 300;

      strong {
        font-weight: 400;
      }
    }

    .menuButton {
      position: absolute;
      width: 50px;
      height: 44px;
      padding: 0 1em;

      line-height: 44px;
    }

    .ui_avatar {
      margin: 5px .75em 0 0;
    }

    .anticon {
      font-size: 1.1em;
    }
  }
}

.header_MenuRight {
  position: absolute;
  top: 0;
  right: 0;

  :global .ant-menu-submenu-title {
    padding: 0;
  }

  :global .ant-menu-submenu-horizontal > .ant-menu {
    left: auto;
    right: 0;
  }
}

:global(.is-folded) .header {
  margin-left: 50px;
}

:global(.is-hamburgerMenu) {
  .header {
    margin-left: 0;
    padding-left: 107px;
  }
}

.popovermenu {
  width: 280px;
  margin-left: 6px;

  :global .ant-popover-inner-content {
    padding: 0;

    .ant-menu-inline .ant-menu-item,
    .ant-menu-vertical .ant-menu-item {
      border-right: 0;
      height: 48px;
      line-height: 48px;
    }

    .ant-menu-inline .ant-menu-item-selected,
    .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}

.notificationDropdownLastRow {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 90%;
  line-height: 1;

  border-bottom: 1px #e4e4ef solid;
  background-color: #f7f5f7;
}
.notificationDropdownLastRow a {
  color: #777;
}