/* error.less */

.error {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  padding: 3em;
  margin-left: -150px;

  text-align: center;

  background-color: #fff;

  :global .anticon {
    font-size: 48px;
    margin-bottom: 16px;
  }
}
