.profileInfo {
  :global {
    .tableSimple {
      border: 0;
    }
  }
}
.avatar {
  width: 280px;
  height: 280px;
  margin-bottom: 1em;

  background: rgba(0, 0, 0, 0.035) 50% 50%;
  background-size: cover !important;
  vertical-align: middle;
}