
.conversation-user-fullname {
  color: #444;
}

.contentRight {
  padding-left: 1em;
  flex-direction: column;
}

.date-last-message {
  font-size: 85%;
  color: #828899;
}

.conversation-short-cut a:active {
  font-weight: bold;
  text-decoration: none;
}

.conversation-message-body {
  font-size: 85%;
  color: #828899;
}

.active-conversation {
  background-color: rgba(0, 0, 0, 0.25);
}
