@import "../css/vars.less";

/* app.less */
.layout {
  position: relative;
  height: 100vh;
  min-width: 900px;

  &:global(.is-hamburgerMenu) {
    .main {
      margin-left: 0;
    }
  }

  &:global(.is-folded) {

    .sidebar {
      width: 50px;
      min-width: 50px;

      :global {
        .ant-menu-root {
          width: 100%;
          overflow: visible;

          & > .ant-menu-item {
            padding: 0;
            text-align: center;

            .anticon {
              margin-right: 0;
            }
          }

          & > .ant-menu-submenu {
            & > .ant-menu-submenu-title {
              padding: 0;
              text-align: center;

              .anticon {
                margin-right: 0;
              }

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    .main {
      margin-left: 50px;
    }
  }

  .sidebar {
    z-index: 520;
    position: absolute;
    width: 230px;
    height: 100vh;
    padding-bottom: 24px;
    color: #6c7696;

    background: @sidebar-bg;
    transition: @transition-ease-out;
    box-shadow: @shadow-1;
    overflow: visible;

    :global {
      .ant-menu-root {
        width: 100%;
        height: ~"calc(100vh - 144px)";
        overflow-x: hidden;

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }

        & > .ant-menu-item {
          padding: 0 24px;
        }

        & > .ant-menu-submenu {
          & > .ant-menu-submenu-title {
            padding: 0 24px;
          }
        }
      }
      .ant-menu {
        transition: @transition-ease-out;

        .ant-menu-item,
        .ant-menu-submenu-title {
          left: 0;
          height: 50px;
          margin-left: 0;

          font-family: "Montserrat", Arial, Helvetica, sans-serif;
          font-size: 95%;
          white-space: normal;
          line-height: 50px;

          overflow: hidden;

          &:after {
            border-width: 2px;
          }
        }
        .ant-menu-sub .ant-menu-item {
          padding: 0 !important;
        }
        .ant-menu-sub .ant-menu-item a {
          padding-left: 32px !important;
        }
      }
      .ant-menu .anticon {
        font-size: 1.25em;
        margin-right: .5em;
      }
      .ant-menu-inline,
      .ant-menu-vertical {
        border-right: 0;
      }
    }
  }
}

.main {
  margin-left: 230px;
  //border-top: 1px #e8e8ef solid;
  //background-image: linear-gradient(to top right, rgba(255, 141, 183, 0.04) 0%, rgba(123, 123, 255, 0.02) 100%);
  transition: @transition-ease-out;
}

.loginBg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to top right, #ff8d8d 0%, #7b7bff 60%);
}