/* common.less */

body {
  height: 100%;

  font-size: 1em;
  font-weight: 300;

  overflow-y: hidden;
  background-color: #ededf8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f7f5f7;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e3e8;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

:global {

  .hidden {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: @transition-ease-out;
  }
  .hidden.is-visible {
    height: auto;
    visibility: visible;
  }

  .flex1 {
    flex: 1;
  }

  .spaceXS {
    margin-bottom: .5em !important;
  }
  .spaceS {
    margin-bottom: .75em !important;
  }
  .space {
    margin-bottom: 1em !important;
  }
  .spaceM {
    margin-bottom: 1.5em !important;
  }
  .spaceL {
    margin-bottom: 2em !important;
  }
  .spaceXL {
    margin-bottom: 2em !important;
  }
  .spaceRight {
    margin-right: 1em !important;
  }
  .spaceRightM {
    margin-right: 1.5em !important;
  }
  .spaceRightL {
    margin-right: 2em !important;
  }

  .u_paddingZero {
    padding: 0 !important;
  }
  .u_padding {
    padding: 1em;
  }
  .u_paddingM {
    padding: 1.5em;
  }

  .u_center {
    text-align: center;
  }
  .u_textRight {
    text-align: right;
  }

  .u_noWrap {
    white-space: nowrap;
  }

  .u_widthFull {
    width: 100%;
  }
  .u_minWidth15 {
    min-width: 15em;
  }
  .u_maxWidthM {
    max-width: 40em;
    margin: 0 auto;
  }
  .u_maxWidthL {
    max-width: 50em;
    margin: 0 auto;
  }

  .u_heightFull {
    height: 100%;
  }

  .u_overflowAuto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .flexNoWrap {
    flex-wrap: nowrap;
  }

  .cActive {
    color: #8dd800;
  }
  .cInactive {
    color: #d5d5dc;
  }
  .cGray {
    color: #a5a5a5;
  }

  .bgDark {
    background-color: #f7f5f7;
  }
}
