/* fonts.less */

@font-face {
  font-family: 'anticon';
  src: url('/assets/fonts/iconfont.eot');
  src: url('/assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/iconfont.woff') format('woff'),
  url('/assets/fonts/iconfont.ttf') format('truetype'),
  url('/assets/fonts/iconfont.svg#anticon') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-medium-webfont.eot');
  src: url('/assets/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/roboto-medium-webfont.woff') format('woff'),
  url('/assets/fonts/roboto-medium-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto-medium-webfont.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular-webfont.eot');
  src: url('/assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/roboto-regular-webfont.woff') format('woff'),
  url('/assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto-regular-webfont.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-light-webfont.eot');
  src: url('/assets/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/roboto-light-webfont.woff') format('woff'),
  url('/assets/fonts/roboto-light-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto-light-webfont.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-regular-webfont.eot');
  src: url('/assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/montserrat-regular-webfont.woff') format('woff'),
  url('/assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/montserrat-regular-webfont.svg#Montserrat') format('svg');
  font-weight: 400;
  font-style: normal;
}