/* layout.less */

:global {
  .content {
    padding: 1.25em;
  }

  .is-paragraph {
    h1, h2, h3, h4, h5 {
      margin-bottom: .5em;
    }
  }

  .container {
    height: e("calc(100vh - 50px)");
    display: flex;
    flex-direction: row;
    padding: 2em 2em 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::before, &::after {
      content: ''; /* Insert pseudo-element */
      margin: auto; /* Make it push flex items to the center */
    }

    &.is-block {
      display: block;
    }

    &.is-secondHeader {
      height: e("calc(100vh - 125px)");
    }

    .section {
      position: relative;
      flex: 1 1 480px;
      flex-direction: column;
      min-width: 480px;
      min-height: 100%;

      &.is-sidebar {
        flex: 1 1 320px;
        max-width: 320px;
        min-width: 320px;
        margin-right: 1.25em;
      }

      &.is-sidebar.is-unfolded {
        flex: 1 1 auto;
        max-width: 50%;
        min-width: 480px;
      }

      .section_content {
        min-height: 100%;

        border-radius: .3em;
        background: #fff;
        box-shadow: @shadow-content;
      }

      &.is-fullHeight .section_content {
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & > div {
          height: 100%;
        }
      }

      .section_sidebar {
        position: relative;
        margin-right: 1em;

        &:after {
          z-index: 100;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 1em;
          box-shadow: @shadow-sidebarLeft;
        }
      }
    }
  }

  .tableGrid {
    display: table;
    width: 100%;
  }
  .tableGrid_item {
    display: table-cell;
    vertical-align: top;
  }
  .tableGrid_item--full {
    width: 100%;
  }

  .containerColumns {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .section_title {
    position: relative;
    padding: 1em 1.25em;

    box-shadow: 0 1px #e4e4ef;
    z-index: 1;
  }

  .nodeContainer {
    font-size: 95%;
    padding: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    strong {
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 1.3;
    }

    .node:hover,
    .node.is-active {
      margin: 0 -1em;
      padding: .5em 1.5em;
    }
  }
  .nodeContainer .node > div > ul li {
    list-style-type: disc;
    margin-left: 2em;
  }
  .nodeContainer .node > div > table td {
    padding: .5rem;
    border: 1px #ccc solid;
  }
  td .nodeContainer {
    margin: -1em;
    white-space: normal;
  }

  .textFormatted {
    > p {
      margin-bottom: .5em;
    }
    var {
      margin-left: .5em;
    }
    .NADPIS {
      margin-top: 1em;
    }
    .PARA {
      font-weight: 700;
    }
  }
  .node {
    position: relative;
    padding: .5em;
    cursor: pointer;

    &:hover,
    &.is-active {
      background-color: #f7f5f7;
      box-shadow: inset 0px -2px 0 -1px #e5e5e5;
    }
    &.is-active {
      background-color: #ffffdf;
      box-shadow: inset 0px -2px 0 -1px #ffffa8;
    }
    &.is-active > div:first-child {
      padding-right: 10em;
    }
  }
  .node > div > h1,
  .node > div > h2,
  .node > div > h3,
  .node > div > h4,
  .node > div > h5 {
    margin-top: 1em;
  }
  .nodeHighlighted,
  .nodeHighlighted:hover,
  .nodeHighlighted.is-active {
    margin: 0 -1em;
    padding: .5em 1.5em;

    background-color: #fff799;
    box-shadow: inset 0px -2px 0 -1px #f5ed93;
  }
  .node_settings {
    display: none;
    position: absolute;
    top: 3px;
    right: .25em;
    font-size: 18px;

    .is-active {
      color: #6695ff;
      box-shadow: inset 0 0 0 2px #6695ff;
    }

    .is-active .anticon {
      color: #6695ff;
    }
  }
  .node_settings_item {
    float: left;
    display: block;
    width: 34px;
    height: 34px;
    padding: .45em;

    text-align: center;

    border-radius: .4em;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .node_settings_item + .node_settings_item {
    margin-left: .25em;
  }
  .node_settings_item .ant-badge-count {
    margin-left: 10px;
  }
  .node:hover .node_settings,
  .node.is-active .node_settings,
  .node_settings.is-active {
    display: block;
  }

  .contentDark {
    position: relative;
    padding: 1.25em;

    border-top: 1px #e5e5e5 solid;
    border-left: 1px #fcfcfc solid;
    border-right: 1px #fcfcfc solid;
    background-color: #f7f5f7;
  }
  .contentDark_separator {
    position: relative;
    padding: 1.25em;
    margin: 1.25em -1.25em 1.25em;

    border: 1px #fcfcfc solid;
    border-top: 1px #e4e4ef solid;
    border-bottom: 1px #f0f0f0 solid;
    background-color: #fff;
  }
  .contentSeparator_title {
    position: relative;
    padding: 1em 1.25em;

    border-left: 1px #fcfcfc solid;
    border-right: 1px #fcfcfc solid;
    border-bottom: 1px #e5e5e5 solid;
    background-color: #f7f5f7;
  }
  .contentFormCentered {
    max-width: 600px;
    margin: 1em auto;

    .ant-form-item-label {
      padding: .8rem 1.25rem .7rem 0;
      line-height: inherit;
    }
  }

  .sidebarRight .ant-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;

    animation-name: antSlideRightIn;
    &.zoom-enter,
    &.zoom-appear {
      animation-name: antSlideRightIn;
    }
    &.zoom-leave {
      animation-name: antSlideRightOut;
    }

    .ant-modal-content {
      height: 100%;

      border-radius: 0;
      box-shadow: 0px 0 10px rgba(0, 0, 0, 0.05);
      overflow: hidden;
    }
    .ant-modal-header {
      height: 50px;
      padding: 14px 16px;

      background-color: #657ff7;
      border-color: #657ff7;
      border-radius: 0;
    }
    .ant-modal-title {
      color: rgba(0, 0, 0, 0.43);

      .ant-badge {
        position: relative;
        height: 50px;
        padding: .75em .9em;
        margin: -.75em .75em -.75em -.9em;

        cursor: pointer;
        &.is-active {
          color: #fff;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
      .ant-badge-count {
        margin: 13px 0 0 3px;
      }
    }
    .ant-modal-body {
      height: 100%;

      padding: 0 0 10em;
      overflow-y: scroll;
    }
  }

  .separatorTitle {
    color: #e2e2ec;
    padding: 0 .25em;
  }

  .bordered {
    padding: 0;
    border: 1px #e5e5e5 solid;
  }
  .bordered_item {
    display: block;
    padding: .5em 1em;

    border-top: 1px #e5e5e5 solid;
    background: #fff;
  }
  .bordered_item:first-child {
    border-top: 0;
  }
  .bordered_item .anticon {
    color: #a5a5a5;
  }
  .bordered-l .bordered_item {
    padding: .75em 1em;
  }

  .tableSimple {
    width: 100%;
    border: 1px #e5e5e5 solid;
  }
  .tableSimple td {
    padding: .75em 1em;

    vertical-align: top;

    border-top: 1px #e5e5e5 solid;
  }
  .tableLabel td {
    width: 100%;

    &:first-child {
      width: auto;
      white-space: nowrap;
    }
  }
  .tableTransparent th,
  .tableTransparent td {
    padding: 0 1em .75em 0;
    vertical-align: top;
  }

  .note,
  .note-info {
    padding: .75em 1em;

    color: #999;
    font-size: 85%;
    line-height: 1.2;

    background-color: #f7f5f7;
  }
  .note-info {
    color: #8299cc;
    background-color: #ceddff;
  }

}