@import "vars.less";

/* skin.less */
:global {

  .ui {

    .section a:hover {
      color: initial;
      text-decoration: underline;
    }
    .ant-layout {
      background-color: #fff;
      overflow: inherit;
    }
    .ant-layout-content {
      min-width: 1px;
      min-height: 1px;
      overflow: visible;
    }

    .ant-menu,
    .ant-menu-item a {
      color: #828899;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

      background-color: transparent;
    }
    .ant-menu .anticon,
    .ant-menu-submenu-title .anticon {
      -webkit-transition: none;
      transition: none;
    }
    .ant-menu-vertical {
      background-color: #fff;
    }
    .ant-menu-vertical a,
    .ant-menu-vertical a:focus,
    .ant-menu-vertical a:active {
      background-color: transparent;
    }
    .ant-menu.is-colored,
    .is-colored .ant-menu-item a {
      color: #f5f7fe;
    }
    .ant-menu-submenu-title:hover,
    .ant-menu-submenu:hover,
    .ant-menu-item a:hover {
      color: @sidebar-active-bg;
    }

    .ant-menu-submenu-selected,
    .ant-menu-submenu-selected:hover {
      color: @sidebar-active-bg;
    }

    .ant-menu.is-transparent {
      border-color: transparent;
    }

    .ant-menu-inline {

      .ant-menu-item-selected {
        color: @sidebar-active-bg;
      }

      .ant-menu-sub {
        color: #828899;
        background-color: @sidebar-submenu-bg;
        border-top: 1px #e5e5e5 solid;
      }
    }

    .ant-menu-item-selected {

      color: @sidebar-active-bg;

      &:hover {
        color: @sidebar-active-bg;
      }
    }

    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
      background-color: transparent;
    }

    .ant-menu-sub.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
    .ant-menu-sub.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a {
      color: @sidebar-active-bg;
      background-color: #fdfdfd;
    }

    .ant-modal {
      transform: scale(1) !important;
      transform-origin: 50% 50% !important;
      opacity: 1;
    }
    .ant-modal-mask {
      background-color: rgba(30, 25, 30, 0.5);
    }
    &.is-sidebarRight .ant-modal-mask {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .ant-modal-content {
      box-shadow: none;
    }
    .ant-modal-footer.ant-modal-footer {
      padding: 1em 1.5em;
    }
    .ant-modal-footer .ant-btn-lg {
      font-size: 1em;
    }

    .ant-card {
      &:hover {
        overflow: auto;
      }
    }

    .ant-pagination .ant-select-selection-selected-value {
      padding-right: 20px;
    }
    .ant-pagination-item {
      margin-bottom: 8px;
    }

    .ant-form-item,
    .ant-input {
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      height: inherit !important;

      border-width: 1px;
    }
    .ant-form-item-control {
      vertical-align: middle;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-form-item-label label {
      color: #999;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    }
    .ant-form-item-required:before {
      font-family: inherit;
    }
    .ant-form-sm .ant-form-item {
      margin-bottom: .75em;
    }

    .ant-input {
      height: inherit;
      padding: .5rem 1rem;

      font-size: 1em;
      font-weight: 400;
    }
    .ant-input-sm {
      padding: .25rem 1rem;
    }
    .ant-input-lg {
      height: inherit;
      padding: .75rem 1.25rem;

      font-size: 1.05em;
    }
    .ant-select-lg {
      font-size: 1.05em;
    }
    .ant-radio-inner.ant-radio-inner {
      width: 18px;
      height: 18px;
      border-width: 1px;

      &:after {
        width: 8px;
        height: 8px;
        border-radius: 4px;
      }
    }
    form input[type="radio"],
    form input[type="checkbox"],
    .ant-checkbox-inner {
      position: relative;
      top: -1px;
      width: 18px;
      height: 18px;
    }
    .ant-checkbox-checked .ant-checkbox-inner:after {
      left: 5px;
      width: 6px;
      height: 11px;
    }
    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-indeterminate .ant-checkbox-inner {
      background-color: #8dd800;
      border-color: #8dd800;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: #8dd800;
    }
    .ant-input-number.ant-input-number {
      width: 120px;
      height: inherit;

      border-width: 1px;

    }
    .ant-input-number .ant-input-number-input {
      min-width: 100px;
      height: inherit;
      padding: .5em 1.75em .5em 1em;

      line-height: 1.5;
    }
    .ant-input-preSuffix-wrapper .ant-input:not(:last-child) {
      padding-right: 35px;
    }
    .ant-input-preSuffix-wrapper .ant-input-suffix {
      right: 15px;
    }

    .ant-btn {
      padding: .5rem 1.25rem;
      height: initial;
      min-width: 2.75rem;

      color: #777;
      font-size: 1em;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-variant-ligatures: none;
      letter-spacing: 0.02em;

      border-width: 2px;
      border-radius: @border-radius-base;
    }
    .ant-btn + .ant-btn {
      margin-left: .5em;
    }
    .ant-btn.ant-btn-sm {
      min-width: 1.75rem;
      padding: .35rem 1rem;

      font-size: 95%;
      font-weight: 400;
    }
    .ant-btn.ant-btn-lg {
      padding: .75rem 1.25rem;
      font-size: 1.1em;
    }
    .ant-btn.disabled,
    .ant-btn[disabled] {
      cursor: default;
    }
    .ant-btn.ant-btn-clicked:after {
      opacity: .6;
      border-color: #6666ff;
    }
    .ant-btn-primary {
      color: #fff;
    }
    .ant-btn-primary.disabled, .ant-btn-primary[disabled], .ant-btn-primary.disabled:hover, .ant-btn-primary[disabled]:hover, .ant-btn-primary.disabled:focus, .ant-btn-primary[disabled]:focus, .ant-btn-primary.disabled:active, .ant-btn-primary[disabled]:active, .ant-btn-primary.disabled.active, .ant-btn-primary[disabled].active {
      border-color: #f7f5f7;
    }
    .ant-btn-dark {
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.035);
    }
    .ant-btn-dark.is-positive,
    .ant-btn-dark.is-positive:hover {
      color: #fff;

      border-color: transparent;
      background-color: #8dd800;
    }
    .ant-btn-circle,
    .ant-btn-circle-outline {
      width: 1.75rem;
      height: 2.75rem;
      padding: 0;

      font-size: 1em;
      line-height: 1;

      border-radius: 50%;
    }
    .ant-btn-circle.ant-btn-lg,
    .ant-btn-circle-outline.ant-btn-lg {
      width: 2rem;
      height: 2.75rem;
      padding: 0;

      font-size: 1em;
      line-height: 1;


      border-radius: 50%;
    }
    .ant-btn-circle.ant-btn-sm,
    .ant-btn-circle-outline.ant-btn-sm {
      width: 1.25rem;
      height: 1.75rem;
      padding: 0;

      font-size: 95%;
      line-height: 1;


      border-radius: 50%;
    }
    .ant-btn-transparent {
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: #fff;
        border-color: transparent;
      }
    }

    .ant-tree-child-tree-open {
      padding-bottom: 6px;
      border-bottom: 1px #e4e4ef dashed;
    }
    .ant-tree-child-tree-open .ant-tree-child-tree-open {
      border-bottom: 0;
    }
    .ant-tree-node-content-wrapper {
      margin-right: 1em;
    }
    .ant-tree li .ant-tree-node-content-wrapper:hover {
      background-color: #ffffdf;
    }
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: #fff799;
    }
    .ant-tree li a {
      padding: 1px 3px;
    }

    .ant-menu-horizontal.is-bigger {
      padding-left: .25em;
      white-space: nowrap;
    }
    .is-bigger .ant-menu-item {
      float: none;
      display: inline-block;
      padding: .35em 1em;

      color: #555;

      .anticon {
        color: #a5a5a5;
      }
    }
    .is-bigger .ant-menu-item:hover,
    .is-bigger .ant-menu-item.ant-menu-item-selected {
      color: @primary-color;

      .anticon {
        color: inherit;
      }
    }

    .ant-dropdown-menu {
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
    }
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      padding: .5em 1em;
    }
    .ant-dropdown-menu-item-selected,
    .ant-dropdown-menu-submenu-title-selected,
    .ant-dropdown-menu-item-selected > a,
    .ant-dropdown-menu-submenu-title-selected > a {
      background-color: transparent;
    }
    .ant-dropdown-menu-dark {
      box-shadow: none;
      background: #f7f5f7;
    }
    .ant-dropdown-menu-dark .ant-dropdown-menu-item {
      color: #828899;
    }
    .ant-dropdown-menu-dark .ant-dropdown-menu-item:hover {
      color: #444;
    }
    .ant-dropdown-menu-item.is-multiline,
    .ant-dropdown-menu-submenu-title.is-multiline {
      padding: 10px 16px;

      font-size: 90%;
      white-space: normal;
      line-height: 1.2;

      border-top: 1px #f9f9f9 solid;

      &:hover {
        background-color: transparent;
      }
      &:first-child {
        border-top: 0;
      }
    }

    .ant-input-group.ant-input-group-compact > *:last-child,
    .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection,
    .ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input {
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right-width: 1px;
    }

    .ant-layout-sider {
      flex: 1 !important;
      width: 100% !important;
      background-color: #fff;
    }

    .is-fullHeight .ant-spin-nested-loading {
      height: 100%;

      & .ant-spin-container {
        height: 100%;
      }
    }
    .ant-spin-blur {
      opacity: 1;
    }

    .ant-select {
      max-width: 100% !important;
      height: inherit;

      font-weight: 400;
    }
    .ant-select-selection,
    .ant-radio-button-wrapper {
      height: inherit;
      padding: .5rem 1rem;

      font-size: 1em;
      line-height: inherit;

      border-width: 1px;
    }
    .ant-pagination .ant-select-selection {
      height: 28px;
      padding: 0 1rem;

      line-height: 28px;
    }
    .ant-select-selection--single,
    .ant-select-sm .ant-select-selection--single,
    .ant-select-lg .ant-select-selection--single {
      height: inherit;
    }
    .ant-select-selection__rendered {
      height: inherit;
      margin: 0;

      line-height: 1.5;
    }
    .ant-select-selection__placeholder {
      left: 0;
      right: auto;
    }
    .ant-select-selection--multiple {
      padding-bottom: 7px;

      & .ant-select-selection__choice {
        padding-right: 25px;
        margin-right: 5px;
      }
      & .ant-select-selection__rendered {
        margin-bottom: -7px;
      }
      & > ul > li,
      .ant-select-selection__rendered > ul > li {
        margin: 4px 5px 4px 0;
      }
    }
    .ant-select-dropdown-menu-item {
      padding: .5em 1em;
    }

    .ant-select-tree {
      padding: .5em 1em;
    }

    .ant-select-arrow {
      margin-top: -8px;
    }

    .ant-pagination-total-text {
      position: absolute;
      left: 1em;

      color: #bbbbc4;
    }

    .ant-collapse-content,
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
      top: -1px;
    }

    .ant-tabs-nav .ant-tabs-tab {
      padding: .5em 0;
    }
    .ant-tabs-gray {
      border-left: 1px #fcfcfc solid;
      border-right: 1px #fcfcfc solid;
    }
    .ant-tabs-gray .ant-tabs-tab {
      padding: 1em 0;
      margin-right: 2em;
    }
    .ant-tabs-gray .ant-tabs-nav-container {
      font-size: 100%;
      text-transform: uppercase;
    }
    .ant-tabs-gray .ant-tabs-bar {
      background: #f7f5f7;
      padding: 0 1.5em;
      margin-bottom: 0;
    }
    .ant-tabs-gray .ant-tabs-tabpane {
      padding: 1.5em;
    }
    .ant-tabs-gray .ant-tabs-tab-prev,
    .ant-tabs-gray .ant-tabs-tab-next {
      line-height: 50px;
    }

    .ant-calendar,
    .ant-calendar-range {
      width: inherit;
    }
    .ant-calendar-date {
      width: inherit;
      height: 28px;
      line-height: 26px;
    }
    .ant-calendar-body {
      padding: 8px 16px;
    }
    .ant-calendar-range.ant-calendar-time .ant-calendar-ok-btn {
      height: inherit;
    }
    .ant-calendar-range-right .ant-calendar-date-input-wrap {
      margin-left: 0;
    }
    .ant-calendar-range-middle {
      margin-left: -1em;
    }
    .ant-calendar-picker-clear,
    .ant-calendar-picker-icon {
      right: 1em;
    }

    .ant-steps .ant-steps-title,
    .ant-steps .ant-steps-head-inner {
      font-size: 16px;
    }
    .ant-steps-step {
      white-space: nowrap;
      overflow: hidden;
    }
    .ant-steps .ant-steps-head-inner > .ant-steps-icon {
      line-height: 1.5rem;
    }

    .ant-popover-message > .anticon {
      line-height: 24px;
    }
    .ant-popover-message-title {
      padding-left: 25px;
    }
    .ant-popover-buttons button:first-child {
      margin-left: 0;
    }

    .ant-confirm-body .ant-confirm-title {
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 500;
    }

    .ant-switch-checked {
      border-color: #8dd800;
      background-color: #8dd800;
    }

    .ant-timeline-item-head {
      top: .1em;
    }

    .ant-badge {
      vertical-align: baseline;
    }

    .ant-table,
    .ant-table table,
    .ant-table-fixed-right,
    .ant-table-fixed-right table,
    .ant-table-fixed-left,
    .ant-table-fixed-left table {
      border-radius: 0;
      background-color: rgba(255, 253, 255, 0.95);
    }
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td {
      padding: 1rem 1.25rem;

      text-align: left;
      word-break: normal;
    }
    .ant-table-middle .ant-table-thead > tr > th:not(.ant-table-selection-column),
    .ant-table-middle .ant-table-tbody > tr > td {
      padding: .65rem 1rem;
    }
    .ant-table {

      .ant-table-thead > tr > th {
        color: #999;
        font-size: 90%;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 400;
        white-space: nowrap;

        border-bottom: solid 1px #e5e5e5;
        background-color: #f7f5f7;
      }
      .ant-table-tbody > tr:hover > td,
      .ant-table-tbody > tr.ant-table-row-hover > td,
      .ant-table-row-hover {
        background-color: #ffffdf;
        border-bottom-color: #ffffa8;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.75);
      }

      &.ant-table-small {
        .ant-table-thead > tr > th {
          background: #f7f5f7;
        }

        .ant-table-body > table {
          padding: 0;
        }
      }
    }
    .ant-table-pagination {
      float: none !important;
      display: table;
      margin: 16px auto !important;
    }

    .ant-input-affix-wrapper {

      .ant-input-search {
        padding-right: 2em;
      }

      .ant-input-suffix {
        right: .75em;
      }
    }

    .ant-breadcrumb {
      & > span {
        &:last-child {
          color: #999;
          font-weight: normal;
        }
      }
    }
    .ant-breadcrumb-link {
      .anticon + span {
        margin-left: 5px;
      }
    }
    .ant-breadcrumb a,
    .ant-breadcrumb > span {
      color: #888;
    }
    .ant-breadcrumb > span:last-child a,
    .ant-breadcrumb > span:last-child {
      color: #333;
      font-weight: 500;
    }

    .ant-popover-inner {
      border: none;
      border-radius: 0;
      box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
    }

    .vertical-center-modal {
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-modal {
        top: 0;

        .ant-modal-title {
          font-weight: 400;
        }
        .ant-modal-header {
          padding: 1.5em;

          font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
          font-weight: 400;
          letter-spacing: 0.02em;
          word-spacing: 0.02em;
        }

        .ant-modal-body {
          max-height: 500px;
          padding: 1.5em;

          background-color: #f7f5f7;
          overflow-y: auto;
        }

        .ant-modal-footer button + button {
          margin-left: 1em;
        }

        .ant-modal-close {
          top: .65em;
          right: 1em;
        }
      }
    }

    .ant-tag {
      height: auto;
      padding: .35em .75em;

      font-size: 85%;
      line-height: 1.1;

      border-radius: 1em;
    }

    .ant-message .anticon {
      font-size: 1em;
    }

    .has-success.has-feedback:after,
    .has-warning.has-feedback:after,
    .has-error.has-feedback:after,
    .is-validating.has-feedback:after {
      top: 12px;
      right: 5px;

      font-size: 1em;
    }

    .ant-badge-count {
      margin-left: -8px;

      font-size: 13px;
      line-height: 18px;

      box-shadow: none;
      background-color: #ff6666;
    }

  }
}

/* Layout defined */
:global {

  .contentDark {
    & .ant-table-thead > tr > th {
      background-color: #ececec;
    }
    & .ant-table-tbody > tr > td {
      border-color: #efefef;
      background-color: #fff;
    }
  }
}