@import "../../../../css/vars.less";

.comments {
  position: relative;
  padding: 1px;

  background-color: #fff;

  &:global(.is-arrow) {
    margin: 1em -1em 0;
  }

  &:global(.is-arrow:after) {
    bottom: 100%;
    left: 2.5em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
}

.comment {
  background-color: #f7f5f7;

  &:hover {
    background-color: #f0f0f0;
  }

  :first-child .comment_content {
    border-top: 0;
  }

  :global .ant-table-thead > tr > th {
    background: #fff;
    border-bottom: solid 1px @border-color-base;
  }

  .avatar {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background: #f8f8f8;
    display: inline-block;
  }

  .content {
    text-align: left;
    color: #757575;
  }

  .date {
    padding-top: 1em;

    color: #a3a3a3;
    font-size: 90%;
    line-height: 1;
  }

  .daterow {
    display: flex;
    justify-content: space-between;
  }

  .name {
    text-align: left;
  }

  .avatarcolumn {
    vertical-align: top;
  }
}

.comment_title {
  color: #000;
  font-size: 95%;
}

.comment_avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 1em 0 0 1em;

  border-radius: 50%;
  background: #eee 50% 50% url('https://randomuser.me/api/portraits/women/43.jpg');
  background-size: cover;
}

.comment_content {
  position: relative;
  flex: 1;
  padding: 1em;

  line-height: 1.35;

  border-top: 1px #eaeaf3 solid;
}

.comment_content :global p {
  white-space: pre-line;
}

.comment_date {
  padding-top: 1em;

  color: #a3a3a3;
  font-size: 90%;
  line-height: 1;
}

.comment_settings {
  position: absolute;
  top: .5em;
  right: .5em;
}
