@import "../../../css/vars.less";

.menuButton {
  height: 50px;
  padding: 0 16px;

  color: #a2b2ff;
  font-size: 18px;
  line-height: 50px;

  background-color: @sidebar-dark-bg;
  cursor: pointer;
  transition: @transition-ease-in;

  &:hover {
    color: #fff;
    background-color: @sidebar-dark-bg;
  }
}