@import "../../../../css/vars.less";

.comment {
  :global .ant-table-thead > tr > th {
    background: #fff;
    border-bottom: solid 1px @border-color-base;
  }

  .avatar {
    width: 48px;
    height: 48px;
    background-size: cover;
    border-radius: 50%;
    background: #f8f8f8 50% 50%;
    display: inline-block;
  }

  .content {
    text-align: left;
    color: #757575;
  }

  .date {
    padding-top: 1em;

    color: #a3a3a3;
    font-size: 90%;
    line-height: 1;
  }

  .daterow {
    display: flex;
    justify-content: space-between;
  }

  .name {
    text-align: left;
  }

  .avatarcolumn {
    vertical-align: top;
  }
}

.comment {
  display: block;
  position: relative;

  color: inherit;

  background-color: #fff;
}

.comment + .comment {
  margin-top: 1em;
}

.comment + .comment .comment_content {
  border-top: 1px #f4f4f4 solid;
}

.comment_title {
  color: #000;
  font-size: 95%;
}

.comment_avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 1em .75em 0 0;

  border-radius: 50%;
  background: #eee 50% 50% url('https://randomuser.me/api/portraits/women/43.jpg');
  background-size: cover;
}

.comment_content {
  position: relative;
  flex: 1;

  padding: 1em 1em 0;

  & strong {
    font-weight: 500;
  }
}

.comment_content :global p {
  padding-top: .5em;

  color: #777;
  white-space: pre-line;
}

.comment_date {
  padding-left: 1.5em;

  color: #a3a3a3;
  font-size: 90%;
  line-height: 1;
}

.comment_settings {
  position: absolute;
  top: .5em;
  right: 0;

  :global .anticon {
    padding: .5em;
    cursor: pointer;
  }
}
