
.avatar,
.avatarS,
.avatarM {
  width: 48px;
  height: 48px;
  background-size: cover !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.035) 50% 50%;
  display: inline-block;
  vertical-align: top;
}
.avatarS {
  width: 36px;
  height: 36px;
}
.avatarM {
  width: 40px;
  height: 40px;
}