@import "../../../../css/vars.less";

.numberCard {
  padding: 32px;
  margin-bottom: 24px;

  font-family: "Montserrat";
  cursor: pointer;

  .iconWarp {
    float: left;
    font-size: 54px;
  }

  .content {
    width: 100%;
    padding-left: 78px;

    .title {
      height: 16px;
      margin-bottom: 8px;

      font-size: 16px;
      line-height: 16px;
      .text-overflow();
    }

    .number {
      height: 32px;

      font-size: 24px;
      line-height: 32px;
      .text-overflow();
    }
  }
}
