.conversations {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.conversationList {
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 0 5em;
}
.conversationList_item {
  padding: .5em 1.25em;

  &:global(.is-active) {
    background-color: #f7f5f7;
  }
}
