.title {
  padding: 1.25em 1.5em;
  border-bottom: 1px #e4e4ef solid;
}

.test-url {
  display: flex;
}

:global {

  .ant-fullcalendar-header {
    padding: 1em 2.5em;
    margin-bottom: 1em;

    border-left: 1px #fcfcfc solid;
    border-right: 1px #fcfcfc solid;
    background-color: #f7f5f7;
  }

  .events {
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .event {
    color: #999;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .eventBullet {
    vertical-align: middle;
  }

  .eventBullet:first-child {
    margin-right: 5px;
  }

  .event-warning {
    color: #fac450;
  }

  .event-normal {
    color: #108ee9;
  }

  .event-error {
    color: #f50;
  }

  .notes-month {
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }

  .filter {
    position: absolute;
    left: 18px;
    top: 77px;

    .status-select {
      margin-left: 5px;
    }

    .label {
      display: inline-block;
      padding: 5px;

      &.right {
        margin-left: 15px;
      }
    }
  }
}
