@import "../../../css/vars.less";

.shrinked {
  position: relative;
  padding-bottom: 24px;
}
.shrinked_content {
  padding: 1em;

  &:global(.is-active) {
    max-height: 20vh;
    overflow-y: scroll;
  }
}
.showMore {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22px;

  color: #b5bcce;
  font-size: 90%;
  text-align: center;

  border-bottom: 1px #e4e4ef solid;
  box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}