@import "../../../css/vars.less";

.upload {
  position: relative;
  padding: 1px;

  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &:global(.is-arrow) {
    margin: 1em -1em 0;
  }

  &:global(.is-arrow:after) {
    bottom: 100%;
    left: 2.5em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  & :global .ant-table-content {
    overflow: auto;

    & :global th {
      font-size: 90%;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
  }
}

:global .ant-upload.ant-upload-drag {
  padding: 1em;
  background-color: #fff;
}