.no-highlight() {
  border-color: #e5e5e5;
  box-shadow: none;
}

.search {
  display: flex;
  width: 100%;
  position: relative;

  :global {
    .anticon-cross {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 6px;
      cursor: pointer;
      color: #fff;
      font-size: 12px;
      line-height: 20px;
      border-radius: 50% !important;
      background-color: rgba(0, 0, 0, .16);
      top: 50%;
      margin-top: -9px;
      // opacity:
    }

    .ant-select {
      width: auto;
      flex-shrink: 0;
      flex-grow: 0;

      &.ant-select-focused .ant-select-selection,
      &.ant-select-open .ant-select-selection,
      .ant-select-selection:active,
      .ant-select-selection:focus,
      .ant-select-selection:hover {
        .no-highlight();
      }
    }

    .ant-select-selection {
      height: inherit;
      padding: .55em 1em;

      border-width: 1px;
    }
    .ant-select-selection .ant-select-selection__rendered {
      line-height: 1.5;
    }

    .ant-input > .ant-input {
      border: 0;
      padding: .5em 0 .5em 1em;
    }

    .ant-input {
      &:focus,
      &:hover {
        .no-highlight();
      }
      flex-shrink: 1;
      flex-grow: 1;

      padding: 0 30px 0 0;
    }

    .ant-btn {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
